<body>
  <div class="row">
    <p class='col-12'>Discount Show</p>
  </div>

  <p><%= @discount.name %></p>
  <p>Percentage Discount: <%= @discount.percentage_discount %></p>
  <p>Quantity Threshold: <%= @discount.quantity_threshold %></p>
</body>
